<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Mi Perfil
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button color="dark" (click)="LogOut()" >
        
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>
  
 

  <ion-list>
   <ion-input [(ngModel)]="notes.title" >
   </ion-input>
   <ion-button (click)="irModificar(notes.id)">
    <ion-icon name="settings"></ion-icon>
   </ion-button>
   
  </ion-list>

  <ion-card>
    <br>
      <ion-avatar class="ava">
      <img src="https://scontent.fatf2-1.fna.fbcdn.net/v/t1.0-9/s960x960/76751703_2516805711728819_3657362521687326720_o.jpg?_nc_cat=106&_nc_ohc=4gT-0NtxG1EAX-1_JH3&_nc_ht=scontent.fatf2-1.fna&oh=3c5cb0cabd3be35e239086ed4024550a&oe=5ECAC80B" />
      </ion-avatar>

    <ion-card-header>
      <ion-card-subtitle class="ion-text-center"> Nombre..</ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center"> Correo..</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      
      <p>Ultima Modificacion: </p>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>


<style>
  .ava { 
   margin: auto;
      width: 170px;  
      height: 170px;  
      
  }
  </style>