<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Mi Perfil
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button color="dark" (click)="LogOut()" >
        
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>
  
 

  <ion-list>
   <ion-input [(ngModel)]="notes.title" >
   </ion-input>
   
   
  </ion-list>

  <ion-card >
    <br>
      <ion-avatar class="ava">
      <img [src]="authService.photoURL"/>
      </ion-avatar>

    <ion-card-header>
      <ion-card-title class="ion-text-center"> Usuario</ion-card-title>
      <ion-card-subtitle class="ion-text-center"> {{authService.displayN}}</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title class="ion-text-center"> Correo</ion-card-title>
      <p class="ion-text-center"> {{authService.email}}</p>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>


<style>
  .ava { 
   margin: auto;
      width: 170px;  
      height: 170px;  
      
  }
  </style>