<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Mi Perfil
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button color="dark" (click)="LogOut()" >
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content padding>
  <ion-list>
   <ion-input [(ngModel)]="notes.title" >
   </ion-input>
   <ion-button (click)="irModificar()">

   </ion-button>
  </ion-list>

  
</ion-content>
