<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Que Actividad Estas Buscando
    </ion-title>
    
  </ion-toolbar>
  
  <ion-input padding placeholder="Buscar Actividad"  type="text"  [(ngModel)]="Bus"><ion-button (click)="Busqueda()"><ion-icon name="search"></ion-icon></ion-button></ion-input>

</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngIf="!servicios || servicios.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="text-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    <ion-item-sliding *ngFor="let servicio of servicios" >
      <ion-card *ngIf="a=='' ; else condicion ; " size="auto" text-center lines="inset" button [routerLink]="['/detalle', servicio.id]">
        <ion-card-content size="auto" >

          <ion-item>
            <ion-avatar slot="start">
              <img src="https://i0.pngocean.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg" />
            </ion-avatar>
            <ion-label>
              <h2><b>{{ servicio.nombre }}</b></h2>
              <h3>Nombre: {{servicio.Name}}</h3>
              <p>{{servicio.fecha | date:'dd/MM/yyyy/ - HH:mm'}}</p>
            </ion-label>
          </ion-item>
<!-- 
          <ion-card-header>
            <ion-card-title>
              
              <ion-label >
                
                <h1>{{ servicio.nombre }}</h1>
                
              </ion-label>
            </ion-card-title>
            
          </ion-card-header>
          
          <ion-label >
            Trabajador: {{servicio.Name}}
            <br>
            {{servicio.fecha | date:'dd/MM/yyyy'}}
          </ion-label> -->


        </ion-card-content>
      </ion-card  >
 
      <ion-item-options side="end">
        <ion-item-option (click)="Remove(item)" color="secondary">
          Check
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
<!-- nuevoo  -->
    
<!-- otracosa -->
    <ion-item-sliding #condicion *ngFor="let servicio of servicios" >
      <ion-card *ngIf="servicio.nombre==a ; " size="auto" text-center lines="inset" button [routerLink]="['/detalle', servicio.id]">
        <ion-card-content size="auto" >
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://i0.pngocean.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg" />
            </ion-avatar>
            <ion-label>
              <h2><b>{{ servicio.nombre }}</b></h2>
              <h3>Nombre: {{servicio.Name}}</h3>
              <p>{{servicio.fecha | date:'dd/MM/yyyy/ - HH:mm'}}</p>
            </ion-label>
          </ion-item>

        </ion-card-content>
        
      </ion-card  >
 
      
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let item of goalList">
      <ion-label>{{ item.goalName }}</ion-label>
    </ion-item>
  </ion-list>
 </ion-content>
