<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Buscar Trabajadores
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bryan Gagñay</ion-card-subtitle>
      <ion-card-title>Cocinero</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        Puede ayudarte con la preparación de diferentes platos 
    </ion-card-content>
    <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Riobamba-Yaruquies</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      
        <ion-card-content>
          Actividades que puede realizar:
        </ion-card-content>
        <ion-card>
            <ion-item href="#" class="activated">
              <ion-icon name="wine" slot="start"></ion-icon>
              <ion-label>Preparar Platos Gurmet</ion-label>
            </ion-item>
          
            <ion-item href="#">
              <ion-icon name="wine" slot="start"></ion-icon>
              <ion-label>Preparar Platos tradicionales</ion-label>
            </ion-item>
          
            <ion-item class="activated">
              <ion-icon name="wine" slot="start"></ion-icon>
              <ion-label>Preparación de bebidas</ion-label>
            </ion-item>
          
            <ion-item>
              <ion-icon name="walk" slot="start"></ion-icon>
              <ion-label>Disponibilidad en toda la ciudad</ion-label>
            </ion-item>
          </ion-card>    
      </ion-card>
  </ion-card>
</ion-content>
