<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>¿Qué actividad quieres publicar?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list lines="full">
    <ion-item *ngIf="todo">
      <ion-label position="floating">Nombre de la actividad</ion-label>
      <ion-input required type="text"  [(ngModel)]="todo.nombre"></ion-input>
    </ion-item>
    <ion-item *ngIf="todo">
      <ion-label position="floating">Descríbelo</ion-label>
      <ion-input required type="text" [(ngModel)]="todo.descripcion"></ion-input>
    </ion-item>
    <ion-item *ngIf="todo">
      <ion-label position="floating">Tu disponibilidad</ion-label>
      <ion-input required type="text"  [(ngModel)]="todo.disponibilidad"></ion-input>
    </ion-item>
    <ion-item *ngIf="todo">
      <ion-label position="floating">Número de Contacto</ion-label>
      <ion-input required type="number"  [(ngModel)]="todo.telefono"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveTodo()">Publicar</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
      <ion-fab-button color="danger" (click)="onRemoveTodo(todoId)" routerLink="/tabs/tab2" routerDirection="forward">
          <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
</ion-content>